.vision-mission-section {
  padding: 2rem 2rem; /* Reduces the vertical padding to make it shorter */
  max-width: 1100px;
  margin: auto;
  background-color: #f4f4f4;
  /* Optional: set a max-height or min-height */
  height: auto; /* If you want to explicitly set height */
  min-height: 500px; /* Optional: Adjust this to control the minimum height */
}


.vision-mission-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.vm-text {
  flex: 1;
  max-width: 500px;
  text-align: left;
  margin-left: 80px;
}

.vm-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.vm-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #333;
}

.read-more {
  color: #f6a800;
  font-weight: bold;
  
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
  
}

.vm-image-wrapper {
  position: relative;
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-bg-shape {
  position: absolute;
  width: 90%;
  height: 90%;
  
  border-radius: 2rem;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.vm-image {
  width: 100%;
  max-width: 320px;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
  object-fit: cover;
}



